@model IEnumerable<VehicleMakeDTO>
@{
    ViewData["Title"] = "Vehicle Makers";
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Name: <input type="text" name="SearchName"/>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<div>
    <table border="1">
        <thead>
            <tr>
                <th align="center"><a asp-action="Index" asp-route-SortBy="Name" asp-route-OrderBy="@ViewBag.OrderBy">NAME</a></th>
                <th align="center"><a asp-action="Index" asp-route-SortBy="Abrv" asp-route-OrderBy="@ViewBag.OrderBy">ABRV</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var make in Model)
            {
                using (Html.BeginForm("Delete", "Make", new { id = make.VehicleMakeId }))
                {
                    <tr>
                        <td align="center">@Html.DisplayFor(modeItem => make.Name)</td>
                        <td align="center">@Html.DisplayFor(modeItem => make.Abrv)</td>
                        <td align="center">
                            <a asp-action="Edit" asp-route-id="@make.VehicleMakeId">Edit</a> |
                            <input type="submit" value="Delete" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div><a class="nav-link text-dark" asp-area="" asp-controller="Make" asp-action="Create">Create</a></div>

<div>
    @{ if (ViewBag.HasPrevious)
        {
            <a asp-action="Index"
               asp-route-SortBy="@ViewBag.CurrentSort"
               asp-route-OrderBy="@ViewBag.CurrentOrder"
               asp-route-PageNumber="@(ViewBag.CurrentPage - 1)"
               class="btn btn-default">
                Previous
            </a>
        }
        if (ViewBag.HasNext)
        {
            <a asp-action="Index"
               asp-route-SortBy="@ViewBag.CurrentSort"
               asp-route-OrderBy="@ViewBag.CurrentOrder"
               asp-route-PageNumber="@(ViewBag.CurrentPage + 1)"
               class="btn btn-default">
                Next
            </a>
        }
    }
</div>



